<html>
<head>
    <title>HTML Formular</title>
    <style>
        label{min-width:100px;display:inline-block;}
    </style>
</head>
<body>
    <form method="post" action="/abfrage_verarbeitung">
        <label for="url">URL:</label>
        <input type="text" id="url" name="url" value="url"/>
        <br/><br/>
        <h2>Untersuchungskontext festlegen:</h2>
        <input type="radio" id="datenschutz" name="datenschutz" value="1" default="0"/>
        <label for="datenschutz">Datenschutz?</label> 
        <br/><br/>
        <input type="submit" value="Absenden"/>
    </form>
</body>
</html>
